{{>layout/header}}

<h1>산책 조회</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="year"> 년 </label>
                <input type="text" class="form-control" id="year">
            </div>
            <div class="form-group">
                <label for="month"> 월 </label>
                <input type="text" class="form-control" id="month">
            </div>
            <div class="form-group">
                <label for="day"> 일 </label>
                <input type="text" class="form-control" id="day">
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-walk">조회</button>
    </div>
</div>

{{>layout/footer}}